.banner__container {
    width: 1200px;
    height: 275px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 20px;
    column-gap: 10px;
    .banner__left {
        border-radius: 3px;
        overflow: hidden;
        width: 800px;

        & img {
            width: 100%;
            height: 100%;
        }
    }
    .banner__right {
        border-radius: 3px;
        overflow: hidden;
        cursor: pointer;
        flex: 1;

        & img {
            height: 100%;
            width: 100%;
        }
    }
}
